<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h2 class ="titolo-aggiorna">Aggiorna</h2>
    <div id="container-aggiorna">
        <form action="/aggiorna" method="post">
            <input type="submit" id="importo" name="fav_language" value="Aggiorna importo">
            <input type="submit" id="data" name="fav_language" value="Aggiorna data">
        </form>
    </div>
    
</body>
<%- include("partial/footer.ejs") %>
</html>